.carouselContainer {
  margin-top: 40px;
  padding-top: 30px;
  position: relative;
}

.swiperSlide {
  height: auto;
}

@media (max-width: 768px) {
  .carouselContainer {
    margin-top: 30px;
    padding-top: 24px;
  }
}
